body {
    font-family: Arial, sans-serif;
    background-color: rgb(211, 209, 209);
  }
  #container {
    max-width: 400px;
    margin: 0 auto;
  }
  #header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  #logo {
    width: 100px;
    height: 100px;
    margin-right: 10px;
  }
  #bebidaInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  #adicionarBtn, #deletarBtn {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  #deletarBtn {
    background-color: #FF5733;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    margin-bottom: 5px;
  }
  footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
  }
  @media (max-width: 600px) {
    #container {
      max-width: 100%;
      padding: 10px;
    }
    #header {
      flex-direction: column;
      text-align: center;
    }
    #logo {
      margin: 10px auto;
    }
  }
