body {
    font-family: Arial, sans-serif;
  }
  #container {
    max-width: 400px;
    margin: 0 auto;
  }
  #header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  #logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  #bebidaInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  #adicionarBtn, #deletarBtn {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  #deletarBtn {
    background-color: #FF5733;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    margin-bottom: 5px;
  }
